<div class="footer">
  <%= link_to root_path do %>
    <i class="fa-solid fa-home" style="font-size: 35px; color: white;"></i>
  <% end %>
  <%= link_to reports_path do %>
    <i class="fa-solid fa-book" style="font-size: 30px; color: white;"></i>
  <% end %>
  <%= link_to appointments_path do %>
    <i class="fa-solid fa-calendar" style="font-size: 30px; color: white;"></i>
  <% end %>
  <%= link_to doctors_path do %>
    <i class="fa-solid fa-user-md" style="font-size: 30px; color: white;"></i>
  <% end %>
  <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
    <i class="fa-solid fa-sign-out" style="font-size: 30px; color: white;"></i>
  <% end %>
</div>
