<h3>Your next appointment</h3>
<div class="appointment card">
  <% next_appointment = current_user.appointments.where('appointment_date > ?', Time.now).order(appointment_date: :asc).first %>
  <p>Dr. <%= next_appointment.doctor.first_name %> <%= next_appointment.doctor.last_name %> <%= next_appointment.appointment_date.strftime("%B %d, %Y") %></p>
</div>

<div class="appointment card" style="width: 18rem;">

    <div class="card-body">
    <div class="date">
      <h3 class="card-title"><%= next_appointment.appointment_date.day %></h3>
      <h3 class="card-title"><%= next_appointment.appointment_date.month %></h3>
    </div>
      <div>
        <%= "#{next_appointment.appointment_date} #{next_appointment.time.strftime("%I:%M:%S %p")}" %>
        <%# .strftime("%A, %d %b %Y %l:%M %p) %>
        <p class="card-subtitle mb-2 text-muted"><%= next_appointment.doctor.first_name + " " + next_appointment.doctor.last_name %></p>
      </div>
    </div>
  </div>


background-color: #176B87

primaty button color: #64CCC5

secondary button color: #D9D9D9

text-color-light: #FFF6E9
