



<%# display the current users appointments %>

<h3>Your next appointment</h3>
<div class="appointment card" style="width: 18rem;">
  <% next_appointment = current_user.appointments.where('appointment_date > ?', Time.now).order(appointment_date: :asc).first %>
    <div class="card-body">
    <div class="date">
      <h3 class="card-title"><%= next_appointment.appointment_date.day %></h3>
      <h3 class="card-title"><%= next_appointment.appointment_date.month %></h3>
    </div>
      <div>
        <%= "#{next_appointment.appointment_date}  #{next_appointment.appointment_date.strftime("%I:%M:%S %p")}" %>
        <%# .strftime("%A, %d %b %Y %l:%M %p) %>
        <p class="card-subtitle mb-2 text-muted"><%= next_appointment.doctor.first_name + " " + next_appointment.doctor.last_name %></p>
      </div>
    </div>
</div>


<div class="button-container">
  <%= link_to "Reports", reports_path, class: "btn btn-primary" %>
  <%= link_to "Appointments", appointments_path, class: "btn btn-primary" %>


</div>
