<div class="main">

  <div class="d-flex align-items-center mt-5">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left ms-3"></i>
    <% end %>
    <div class="mx-auto text-center">
      <h2>Your Doctors</h2>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <%= link_to new_doctor_path do %>
      <i class="fa-solid fa-plus fa-2x"></i>
    <% end %>
  </div>

<div class="doctor-cards">
  <% @doctors.each do |doctor| %>
    <div class="doctor card" style="width: 18rem;">
      <h3 class="card-title"><%= doctor.first_name + " " + doctor.last_name %></h3>
      <p class="card-text"><%= doctor.specialty %></p>
      <div>
        <%= link_to edit_doctor_path(doctor), class: "btn btn-secondary mt-5 me-1" do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>

        <%= link_to doctor_path(doctor), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class: "btn btn-secondary mt-5" do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

</main>

