<li class="appointment-card">
  <div class="appointment-date">
    <div>
      <%= appointment.appointment_date.day %>
    </div>
    <div>
      <%= appointment.appointment_date.strftime("%B").first(3) %>
    </div>
  </div>

  <div class="appointment-details">
    <div class="appointment-head">
      <div class="appointment-title">
        <p class="mb-0 mt-0" style="color: #176B87">Dr. <%= appointment.doctor.first_name + " " + appointment.doctor.last_name %></p>
      </div>
      <div class="appointment-specialty">
        <%= appointment.doctor.specialty %>
      </div>
    </div>
    <div class="appointment-content">
      <div style="color: gray;"><%= "#{appointment.time.strftime("%I:%M %p")}" %></div>
    <% if appointment.reports.present? %>
      <p class="mt-0" style="color: #176B87">Reports: <%# appointments.each do |appointment| %>
        <% appointment.reports.each_with_index do |report, index| %>
          <% next if index == 0 %>
            <%= link_to report.title, report_path(report) %>
          <% end %>
      <%# end %>
      <% end %>
      </p>
    </div>


  </div>

</li>
