<div class='main'>
  <%= simple_form_for [@appointment] do |f| %>
  <%= f.input :appointment_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } },
              class: "bg-light" %>

<%= f.input :time,
              as: :time %>

  <%= f.input :content,
              as: :file %>

  <%= f.association :doctor, label: "Doctor", collection: Doctor.all, label_method: :name, value_method: :id, include_blank: "Select Doctor" %>

  <%= f.button :submit %>
<% end %>

</div>
