<div class="main">

  <div class="d-flex align-items-center mt-5">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left ms-3"></i>
    <% end %>
    <div class="mx-auto text-center">
      <h2>Your Appointments</h2>
    </div>
  </div>


<div class="appointment-cards">
<h3>Upcoming Appointments</h3>
  <div class="d-flex justify-content-end">
    <%= link_to new_appointment_path do %>
      <i class="fa-solid fa-plus fa-2x"></i>
    <% end %>
  </div>
<% @appointments.each do |appointment| %>
<div class="appointment card">
    <div class="card-body">
    <div class="date">
      <h3 class="card-title"><%= appointment.appointment_date.day %></h3>
      <h3 class="card-title"><%= (Date::MONTHNAMES[appointment.appointment_date.month]).first(3) %></h3>
    </div>
      <div>
        <%= "#{appointment.appointment_date} #{appointment.appointment_date.strftime("%I:%M:%S %p")}" %>
        <%# .strftime("%A, %d %b %Y %l:%M %p) %>

        <p class="card-subtitle mb-2 text-muted"><%= appointment.doctor.first_name + " " + appointment.doctor.last_name %></p>

        <%= link_to edit_appointment_path(appointment), class: "btn btn-secondary mt-5 me-1" do %>
        <i class="fa-regular fa-pen-to-square"></i>
        <% end %>

        <%= link_to appointment_path(appointment), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class: "btn btn-secondary mt-5" do %>
        <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>

</div>
