
<div class="main">
  <div class="d-flex align-items-center mt-5">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left ms-3"></i>
    <% end %>
    <div class="mx-auto text-center">
      <h2>Your Appointments</h2>
    </div>
  </div>


<div class="appointment-cards">
  <div class="d-flex justify-content-end">
    <%= link_to new_appointment_path do %>
      <i class="fa-solid fa-plus fa-2x"></i>
    <% end %>
  </div>
<% @appointments.each do |appointment| %>
  <div class="appointment card" style="display: flex; justify-content: center;">
    <div class="card-body">
    <div class="date d-flex flex-column align-items-center">
      <p class="card-title" style="border-bottom: 1px solid black;"><%= appointment.appointment_date.strftime("%B") %></p>
      <div style="flex-grow: 1;">
        <h3 class="card-title"><%= appointment.appointment_date.day %></h3>
      </div>

    </div>
      <div style="width: 150px;">
        <%= "#{appointment.appointment_date.strftime("%I:%M %p")}" %>
        <%# .strftime("%A, %d %b %Y %l:%M %p) %>

        <p class="card-subtitle mb-2 text-muted">Dr. <%= appointment.doctor.first_name + " " + appointment.doctor.last_name %></p>
       <p class="card-subtitle mb-2 text-muted"><% @appointments.each do |appointment| %>
        <% appointment.reports.each do |report| %>
          <%= report.title %>
        <% end %>
       <% end %>
        </p>


        <%= link_to edit_appointment_path(appointment) do %>
        <i class="fa-solid fa-pen-to-square"></i>
        <% end %>

        <%= link_to appointment_path(appointment), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} do %>
        <i class="fa-regular fa-trash-can ms-1"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
