<div class='main'>
 <div class="d-flex align-items-center mt-5">
    <%= link_to appointments_path do %>
      <i class="fa-solid fa-arrow-left ms-3"></i>
    <% end %>
    <div class="mx-auto text-center">
      <h2>New Appointment</h2>
    </div>
  </div>

  <%= simple_form_for [@appointment] do |f| %>
  <%= f.input :appointment_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } },
            class: "bg-light" %>
  <%= f.input :time,
              as: :time %>

  <%= f.input :content,
              as: :file %>
<%#
  <%= f.association :doctor, label: "Doctor", collection: Doctor.all, label_method: :first_name, value_method: :id, include_blank: "Select Doctor" %>
  <%= f.association :doctor, label: "Doctor", collection: current_user.doctors.all.map { |doctor| ["#{doctor.first_name} #{doctor.last_name}", doctor.id] }, include_blank: "Select Doctor" %>


  <%= f.submit "Create Appointment", class: 'btn btn-primary' %>

  <% end %>
</div>
