<div class='main'>
  <h2 style="text-align: center; mab-3;">New Appointments</h2>

  <%= simple_form_for [@appointment] do |f| %>
  <%= f.input :appointment_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } },
            class: "bg-light" %>
  <%= f.input :time,
              as: :time %>

  <%= f.input :content,
              as: :file %>

  <%= f.association :doctor, label: "Doctor", collection: Doctor.all, label_method: :first_name, value_method: :id, include_blank: "Select Doctor" %>


  <%= f.submit "Create Appointment", class: 'btn btn-primary' %>

  <% end %>
  <%= link_to "Back To Appointments", appointments_path, class: "btn btn-secondary mt-5" %>
</div>
