<div class='main' data-controller="show-doctors">
 <div class="d-flex align-items-center mt-3">
    <%= link_to appointments_path do %>
      <i class="fa-solid fa-arrow-left ms-3"></i>
    <% end %>
    <div class="mx-auto text-center">
      <h2>New Appointment</h2>
    </div>
  </div>

  <%= simple_form_for [@appointment] do |f| %>
  <%= f.input :appointment_date,
            as: :string,
            label: false,
            input_html: { data: { controller: "datepicker" } },
            class: "bg-light", placeholder: "Appointment date*"%>
  <%= f.input :time,
            as: :time,
            label: false,
            input_html: { class: "bg-white" } %>

  <%= f.association :reports, label: false, collection: current_user.reports.all.map { |report| ["#{report.title}", report.id] }, include_blank: "Select Report" %>
  <%#= f.input :report_ids, collection: @reports %>
  <div class="doctors-button-container">
    <button type="button" class="btn-select-doctors btn-select-doctors-active" data-action="click->show-doctors#showselect" data-show-doctors-target="selectbutton">Choose an existing doctor</button>
    <button type="button" class="btn-select-doctors" data-action="click->show-doctors#showquestions" data-show-doctors-target="questionsbutton">Add a new doctor</button>

  </div>
  <div data-show-doctors-target="select">
    <%#
    <%= f.association :doctor, label: "Doctor", collection: Doctor.all, label_method: :first_name, value_method: :id, include_blank: "Select Doctor" %>
    <%= f.association :doctor, label: false, collection: current_user.doctors.all.map { |doctor| ["#{doctor.first_name} #{doctor.last_name}", doctor.id] }, include_blank: "Select Doctor*" %>
  </div>




  <div data-show-doctors-target="questions" class="hidden">
  <%= f.simple_fields_for :doctor do |d| %>
        <%= d.input :first_name, label: false, input_html: { class: "bg-white" }, placeholder: "First name*" %>
        <%= d.input :last_name, label: false, input_html: { class: "bg-white" }, placeholder: "Last name*" %>
        <%= d.input :email, label: false, input_html: { class: "bg-white" }, placeholder: "Email*"%>
        <%= d.input :specialty, label: false, collection: ["Internal Medicine", "Surgery", "Pediatrics", "Obstetrics and Gynecology", "Psychiatry", "Radiology", "Anesthesiology", "Emergency Medicine", "Pathology", "Ophthalmology", "Otolaryngology (ENT)", "Dermatology", "Neurology", "Urology", "Orthopedics", "Physical Medicine and Rehabilitation", "Allergy and Immunology", "Infectious Diseases", "Endocrinology", "Cardiology"], input_html: { class: "bg-white" }, include_blank: "Specialty*"%>
      <% end %>
</div>

  <%= f.submit "Create Appointment", class: 'btn btn-primary form-submit-btn' %>

  <% end %>
</div>
