<div class='main'>
  <h2 class="mb-3">New Appointment</h2>
  <%= simple_form_for @appointment do |f| %>
    <%= f.input :appointment_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } },
              class: "bg-light" %>

  <%= f.input :content,
              as: :file,
              input_html: {multiple: true} %>

  <%= f.input :doctor_id,
              collection: Doctor.all,
              label_method: :name,
              value_method: :id,
              label: "Doctor" %>

    <%= f.submit "Submit", class: 'btn btn-primary' %>
  <% end %>
  <%= link_to "Back to appointments", root_path, class: "btn btn-secondary mt-5" %>
</div>
