
<div data-controller="show-doctors">
  <%= simple_form_for report, html: { autocomplete: 'off' } do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


    <%= f.input :title, label: false, input_html: {class: "bg-white"}, placeholder: "Title*"%>
    <%= f.input :report_date,
                as: :string, label: false,
                input_html: { data: { controller: "datepicker" }, class: "bg-white"}, placeholder: "Report Date*"
                %>
    <%# Should do mapping in controller %>


    <%= f.input :category, label: false, collection: ['Blood Tests', 'Imaging', 'Surgery', 'Pathology', 'Cardiology', 'Endoscopy', 'Pulmonary Function Test (PFT)', 'Genetic Testing', 'Allergy Testing', 'Neurological', 'Dermatology', 'Obstetric and Gynecological', 'Urology', 'Orthopedic', 'Gastroenterology', 'Ophthalmology', 'Nuclear Medicine', 'Psychiatric', 'Rehabilitation', 'Dental'], input_html: {class: "bg-white"}, include_blank: "Category*"%>


    <% if params[:choice] == "photo" %>
      <%= f.input :photo, label: false, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo btn btn-upload' }, label: '📷 Add Photo' %>
    <% elsif params[:choice] == "pdf" %>
       <%= f.input :pdf, label: false, input_html: { class: 'd-none' }, label_html: { class: 'upload-pdf btn btn-upload'}, label: '📷 PDF' %>
    <% elsif params[:choice] == "manual"%>
      <%= f.input :note, label: false, input_html: {class: "bg-white"}, placeholder: "Note"%>
    <% end %>




    <div class="doctors-button-container">
      <button type="button" class="btn-select-doctors btn-select-doctors-active" data-action="click->show-doctors#showselect" data-show-doctors-target="selectbutton">Choose doctor</button>
      <button type="button" class="btn-select-doctors" data-action="click->show-doctors#showquestions" data-show-doctors-target="questionsbutton">Add doctor</button>
    </div>

    <div data-show-doctors-target="select">
      <%= f.association :doctor, label: false, collection: current_user.doctors.all.map { |doctor| ["#{doctor.first_name} #{doctor.last_name}", doctor.id] }, include_blank: "Select Doctor*", input_html: {class: "bg-white"}%>
    </div>
    <div id="additional-doctor-fields" data-show-doctors-target="questions" class="hidden">
       <%= f.simple_fields_for :doctor do |d| %>
        <%= d.input :first_name, label: false, input_html: { class: "bg-white" }, placeholder: "First name*" %>
        <%= d.input :last_name, label: false, input_html: { class: "bg-white" }, placeholder: "Last name*" %>
        <%= d.input :email, label: false, input_html: { class: "bg-white" }, placeholder: "Email*"%>
        <%= d.input :specialty, label: false, collection: ["Internal Medicine", "Surgery", "Pediatrics", "Obstetrics and Gynecology", "Psychiatry", "Radiology", "Anesthesiology", "Emergency Medicine", "Pathology", "Ophthalmology", "Otolaryngology (ENT)", "Dermatology", "Neurology", "Urology", "Orthopedics", "Physical Medicine and Rehabilitation", "Allergy and Immunology", "Infectious Diseases", "Endocrinology", "Cardiology"], input_html: { class: "bg-white" }, include_blank: "Specialty*"%>
      <% end %>
    </div>
    <%= f.submit class: "btn btn-primary form-submit-btn" %>
  <% end %>
</div>
