<%= link_to report_path(report), class: 'card-link text-decoration-none' do %>
 <li class="report-card">

    <%= render "reports/icon", report: report %>

    <div class="report-details">
      <div class="report-head">
        <div class="report-title ">
          <p class="mb-0 mt-0"><%#= link_to report.title, report_path(report), class: "text-decoration-none" %><%= report.title %></p>
        </div>
        <div class="report-category">
          <%= report.category %>
        </div>
      </div>
     <div class="report-content">
        <%= strip_tags(report.note.sub(/.*?<body[^>]*>/im, '')) %>
      </div>
      <div class="report-edit">
        <%= report.report_date.day %> <%= (Date::MONTHNAMES[report.report_date.month]).first(3) %>
      </div>
    </div>

  </li>
<% end %>
