<%= link_to report_path(report), class: 'card-link text-decoration-none' do %>
 <li class="report-card">

    <%= render "reports/icon", report: report %>

    <div class="report-details">
      <div class="report-head">
        <div class="report-title ">
          <p class="mb-0 mt-0"><%#= link_to report.title, report_path(report), class: "text-decoration-none" %><%= report.title %></p>
        </div>
        <div class="report-category">
          <%= report.category %>
        </div>
      </div>
     <div class="report-content">
        <% if report.note.present? %>
          <%= strip_tags(report.note.sub(/.*?<body[^>]*>/im, '')) %>
        <% else %>
          <div class="d-flex align-items-between">
            <div class="spinner-border spinner-border-sm ml-auto me-2" role="status" aria-hidden="true"></div>
            <strong>Loading...</strong>
          </div>
        <% end %>
      </div>
      <div class="report-edit">
        <%= report.report_date.day %> <%= (Date::MONTHNAMES[report.report_date.month]).first(3) %>
      </div>
    </div>

  </li>
<% end %>
