<div class="main">

  <div class="d-flex align-items-center mt-5">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left ms-3"></i>
    <% end %>
    <div class="mx-auto text-center">
      <h2>Medical history</h2>
    </div>
  </div>

  <div class="searchbar">
    <%= form_with url: reports_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control bg-info p-0 ps-1",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary m-0 p-0 ms-1" %>
    <% end %>
  </div>


  <ul class="inline-list">
    <%= link_to reports_path, class:"text-decoration-none" do %>
      <div class="all-button bg-primary", style= "color: #176B87;">
        <%# <i class="fa-solid fa-file"></i> %>
        <p style="">All</p>
      </div>
    <% end %>
    <% @categories.each do |category|%>
      <li>
        <%= link_to reports_path(category: category), class: "text-decoration-none" do %>
        <div  class="all-button">
          <%= render "icon_cat", category: category%>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="d-flex justify-content-end">
    <%= link_to new_report_path do %>
      <i class="fa-solid fa-plus fa-2x"></i>
    <% end %>
  </div>


  <ul class="reports">
    <% @reports.each do |report|%>
      <%= render "report_card", report: report %>
    <% end %>

  </ul>

</div>
