<div class="sticky-head">
  <div class="d-flex align-items-center">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left ms-3 back-arrow" ></i>
    <% end %>
    <div class="mx-auto text-center">
      <h2 style="color: #176B87;">Medical reports</h2>
    </div>
  </div>


    <div class="searchbar">
      <%= form_with url: reports_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control p-0 ps-1 radius-4",
              placeholder: "Find a report"

          %>
        <%= text_field_tag :report_date,
            params[:report_date],
            data: { controller: "datepicker"}, class: "form-control p-0 ps-1 ms-1 radius-4", placeholder: "Pick a date" %>

        <%= submit_tag "Search", name: "", class: "btn bg-primary m-0 p-0 ms-1 p-1 radius-4", style: "color: white;" %>
      <% end %>
    </div>

  <div class="scrolling-wrapper">
    <ul class="inline-list">
      <%= link_to reports_path, class:"text-decoration-none" do %>
        <div class="all-button", style= "background-color: #9e0059; color: white;">
          <p class="mt-0"><strong>All</strong></p>
        </div>
      <% end %>
      <% @categories.each do |category|%>
          <li>
            <%= link_to reports_path(category: category ), class: "text-decoration-none" do %>
            <div  class="all-button">
              <div class="d-flex align-items-center">
                <%= render "icon_cat", category: category %>
                <p class="ms-2 mt-0"><%= category %></p>
              </div>
            </div>
            <% end %>
          </li>
        <% end %>
    </ul>
  </div>

    <div class="add-button-div">
      <div class="dropdown">
        <!-- Button trigger dropdown -->
        <i class="fa-solid fa-plus  text-primary mb-3 btn bg-primary text-white" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <!-- Dropdown menu -->
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to "Upload image", new_report_path, class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Upload pdf", new_report_path, class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Fill manually", new_report_path, class: "dropdown-item" %></li>
        </ul>
      </div>
    </div>
</div>

<div class="main">
  <ul class="reports">
    <% @reports.each do |report|%>
      <% if report.user == current_user%>
        <%= render "report_card", report: report %>
      <% end %>
    <% end %>
  </ul>
</div>
