

<div class="main">
  <div class="d-flex align-items-center mt-5">
    <%= link_to reports_path do %>
      <i class="fa-solid fa-arrow-left ms-3"></i>
    <% end %>

    <div class="mx-auto text-center">
      <h3>Report</h3>
    </div>
  </div>

  <div class="one-report-edit">
    <%= link_to edit_report_path(@report) do%>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
      <%= link_to share_path do %>
      <i class="fa-solid fa-share ms-3"></i>
    <% end %>
  </div>
   <div>
      <%= link_to report_path(@report), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
    </div>

  <%# card for the report %>

  <li class="one-report-card">
    <div class="one-report-date">
      <div >
        <div class="">
          <%= @report.report_date.day %>
        </div>
        <div class="">
          <%= (Date::MONTHNAMES[@report.report_date.month]).first(3) %>
        </div>
      </div>
    </div>
    <div class="one-report-details">
      <div class="one-report-head">
        <div class="one-report-title">
          <%= @report.title %>

        </div>
      </div>
    <%=@report.doctor.first_name + " " + @report.doctor.last_name + " | " + @report.doctor.specialty %>
      <div class="one-report-content">
       <%= @report.content %>
      </div>
      </div>
    </div>
  </li>


  <%# end of card for the report %>



</div>
