

<div class="main">
  <div class="d-flex align-items-center mt-5">
    <%= link_to reports_path do %>
      <i class="fa-solid fa-arrow-left ms-3"></i>
    <% end %>

    <div class="mx-auto text-center">
      <h2><%= @report.title %></h2>
    </div>
  </div>

  <div class="one-report-edit">
      <%= link_to edit_report_path(@report) do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
      <%= link_to share_path do %>
      <i class="fa-solid fa-share"></i>
    <% end %>
      <%= link_to report_path(@report), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-regular fa-trash-can"></i>
      <% end %>
  </div>


  <%# start card for the report %>
  <div class="one-report-card">
    <div class="one-report-date">
      <div >
        <div class="">
          <%= @report.report_date.day %>
        </div>
        <div class="">
          <%= (Date::MONTHNAMES[@report.report_date.month]).first(3) %>
        </div>
      </div>
    </div>
    <div class="one-report-details">
      <% if @report.doctor.present? %>
        <h4><%=@report.doctor.first_name + " " + @report.doctor.last_name + " | " + @report.doctor.specialty %></h4>
      <% end %>
      </div>
      </div>
    </div>
  </div>
  <%# end of card for the report %>

  <%# start reports content %>
<div class="one-report-content">
 <%= @report.note %>
</div>
 <%# end reports content %>
</div>


<div class="one-report-documents">
<h3>original documents</h3>
<%#= @report.uploaded_file %>
</div>

<div>
   <%= link_to reports_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
     <i class="fa-regular fa-trash-can"></i>
   <% end %>
</div>
